name: Pacman Contribution Graph

on:
  schedule:
    - cron: '0 0 * * *'  # প্রতি দিন midnight এ run হবে
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Generate Pacman SVG
        uses: arivan-amin/pacman-contribution-graph-action@main
        with:
          github-username: m-anwarulkarim
          output-file: pacman-contribution-graph.svg
          dark-output-file: pacman-contribution-graph-dark.svg
